iridium.tonymac.net, localhost {
    handle_path /api/* {
        reverse_proxy fastapi-backend:8000
    }

    handle_path /s3/files/* {
        reverse_proxy garage-storage:3902 {
            header_up Host iridium-uploads.web.garage
        }
    }

    handle_path /s3/* {
        reverse_proxy garage-storage:3900
    }

    handle {
        reverse_proxy nextjs-frontend-dev:3000
    }
}